@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About the Software Engineer</h1>
    <h3 align="center"><a href="https://github.com/ThulaniNyama/StackWorxHealthChecker.io">About Thulani</a></h3>
    <p align="center">
        <br />
        Thulani is a prospective Software Engineer at StackWorx.<br />
        AKA "Tools" that's what his friends and peers call him.<br />
        We assume it's the meer fact that he is a coder's "toolbox".<br />
        Be it design or development... With this Health Checker application<br />
        he is proving to be the best fit for StackWorx by utilizing<br />
        versitile skills such as ASP.Net, IHttpClientFactory, MVC,<br />
        Entity Framework and GraphQL. He engineered this<br />
        Health Checker application to start "stacking" at StackWorx.<br />
    </p>
</div>
