@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to StackWorx Health Checker</h1>
        <h3 align="center"><a href="https://github.com/ThulaniNyama/StackWorxHealthChecker.io">About Health Checker</a></h3>
        <p align="center">
            <br />
            StackWorx Health Checker is an application that utilizes<br />
            Microsoft's build-in Health Checker. It sends calls to urls<br />
            and returns and displays statuses of the url and the overall<br />
            status of the application. It was build with ASP.Net Core<br />
            IHttpClientFactory, MVC architecture, Entity Framework and GraphQL.
            Engineered for StackWorx by Thulani Nyama. To find out more about<br />
            the software engineer view the about page.<br />
        </p>
    </div>
