@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p><br /><br />
    This StackWorx Health Checker or website does not collect, handle and process data of its users and visitors. Personal Information is<br />
    kept confidential, it is not shared with or sold to third parties. Personal information about an individual or company may include the following:<br /><br /><br />

    Name<br />
    Address<br />
    Email<br />
    Phone number<br />
    Age<br />
    Sex<br />
    Marital status<br />
    Race<br />
    Nationality<br />
    Religious beliefs.<br />
</p>
